.navigationBox {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.headerLink {
    color: black;
    border: 1px solid #3182ce;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;


    transition: all 0.3s;
}

a[aria-current="page"] {
    border: 1px solid white;
    background-color: #3182ce;
    color: white;
}

.bottomLine {
    border: 0;
    border-top: 2px solid #007BFF;
    margin: 10px 0px;

}